@media only screen and (min-width: 700px) {
body{
  background-color: #EFD6AD;
  overflow-x: hidden;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: none;
}
a:active {
	color: grey;
	text-decoration: none;
}
/* Header */
header{
width: 95%;
height: 50px;
padding-top: 50px;
margin: auto;
border: 1px solid black;
border-bottom: none;
text-align: center;
clear: both;
}
/* Main Content */
  /* Parallaxed Trail */
.trail{
  height: 5200px;
  width: 100%;
  margin-top: 300px;
  background-image: url('img/trail.png');
  background-position: center;
  background-repeat: repeat-y;
  position: absolute;
  z-index: 1;
}
  /* Content */
main{
  width: 95%;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  float: left;
  margin-left: 2.4%;
  background-image: url('img/map.png');
  background-position: center;
  background-repeat: repeat-y;
}
aside{
  transition: all .2s ease-in-out;
  opacity: 0;
}
.left{
  width: 48%;
  float: left;
}
.right{
  width: 48%;
  float: right;
}
.left img, .right img{
  transform: scale(1.8,1.8);
}
#startLeft, #startRight{
  height: 100px;
  width: 100%;
}
p{
  width: 75%;
  padding: 10px;
  background-color: #FBF3E7;
  border-radius: 5px;
  font-size: 1.4em;
  color: #3A302E;
  line-height: 125%;
}
h1{
  font-size: 6em;
  color: #3A302E;
}
/* Footer */
footer{
  width: 95%;
  height: 50px;
  padding: 100px 0 50px 0;
  margin: auto;
  border: 1px solid black;
  border-top: none;
  text-align: center;
  clear: both;
}
footer a{
  color: black;
  font-size: 14px;
}

}
