@media only screen and (max-width: 700px) {
/* Left Side*/
#magnify{
  margin: 300px 0 0 0;;
}
#leftP1{
  margin: 350px 0 0 0;
}
#globe{
  margin: 500px 0 0 0;
}
#leftP2{
  margin: 500px 0 0 0;
}
#arrow{
  margin: 450px 0 0 0;
}
#leftP3{
  margin: 450px 0 0 0;
}
#leftH1{
  margin: 450px 0 0 0;
}
#leftP4{
  margin: 450px 0 0 0;
}
#leftH2{
  margin: 450px 0 0 0;
}
/* Right Side */
#rightP1{
  margin: 350px 0 0 0;
}
#rightP2{
  margin: 1000px 0 0 0;
}
#rightH1{
  margin: 530px 0 0 0;
}
#rightP3{
  margin: 500px 0 0 0;
}
#rightP4{
  margin: 970px 0 0 0;
}
#computer{
  margin: 460px 0 0 0;
}
#rightP5{
 margin: 350px 0 0 0;
}


}
